* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* top part of the screen */
#kudos-container {
    background-color: #FEFBE9;
    text-align: center;
    width: 100%;
}

/* top screen image */
#kudos-medal-img {
    width: 110px;
    margin-top: 3rem; 
}

/* title */
h1 {
    font-family: "Agu Display", serif;
    font-weight: 500;
    font-size: 2.5rem;
}

/* middle part of the screen */
#text-publish-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #60B5D6;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

#textarea {
    width: 90%;
    min-height: 70px;
    margin: 1.6rem auto;
    padding: 5px;
}


#publish-btn {
    padding: 10px 50px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-family: "Inter", serif;
    font-weight: 400;
    background-color: #FAD075;
    width: 50%;
    display: flex;
    justify-content: center;
}

/* bottom part of the screen */
#endoresements-area {
    display: flex;
    flex-direction: column;
    background-color: #F9A9BC;
    width: 100%;
    text-align: center;
    flex-grow: 1;
}

h2 {
    font-family: "Agu Display", serif;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 20px auto 10px auto;
}

#endorsements-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.endorsement-container {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px auto;
    width: 100vw;
    width:80%;
    background-color: #A26E7B;
}

.endorsement {
    font-family: "Inter", serif;
    font-weight: 300;
    padding: 15px 20px 15px 100px;
    width: 80%;
    color: #FEFBE9;

}

.remove-btn {
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}




